In [1]:
import numpy as np
import pandas as pd

In [21]:
path = './data/地区常量.csv' #从 notebook 当前的位置读取 csv 文件

df = pd.read_csv(open(path,'r',encoding='UTF-8'))   

#df.info()
df.head(15)

,ID,Name,Code,ParentId
0,1C6498FE-249B-1A43-B422-0005065014DD,昆士敦,23723,D8A2AC7B-94C2-4A44-A58B-0F7D922CF6E5
1,BEDE6E98-BB25-C34F-8072-0009C6AC9A30,莞岛郡,2251104,028AE13A-8339-CB4F-BCE2-DA178DC545FA
2,EFBBB2BD-D55A-AB4A-851D-000D351C830A,雅加达,22022,9AB0317A-F5FC-405B-8EE9-22D8D63512D7
3,F588A7F4-7F80-0542-BDAC-00125CC159F3,太白市,2250614,D9114555-C8E9-1041-A59B-F8C52D436D52
4,13C5D575-2DB6-4046-A152-002647D30E7F,河口瑶族自治县,532513,BED4857E-0FA1-423A-8647-95BDEBE17CBA
5,CCDED271-BD76-9543-BC90-0036A6DFC01B,格但斯克,23215,7C3FB74D-C3DD-4E0B-AE0B-5DCAA7AD43F6
6,7815F045-EF9B-4BAF-8B21-0046DFB52533,上虞区,330601,F2464636-C812-4249-8E7F-5F8E3170F5C4
7,CB224E19-61D4-4089-96B2-004BDA6B6F05,青浦区,3115,086DDA76-A2CB-4814-9967-38C208BFFE2E
8,136D7D0A-0B7E-164A-8D6A-005C392B49A1,扎囊县,542202,96AD0C59-53C3-4FF0-9FC9-13AADAAD60AF
9,3F2DD3B4-F103-384B-8D0E-00654A274EA4,秦安县,620504,C00BDE93-3DC8-46E0-9C45-3E30ECBD10D5
10,B3ABEC2D-6650-40DC-85F3-0088E99D69BB,平潭县,350111,9B9C1354-B997-4EE3-849D-44A713FFD087
11,CBF374C1-9FE0-4E3A-82AB-008A9E0FD7E4,辽宁省,2100,00000000-0000-0000-0000-000000000000
12,BCE86D5A-E2C3-4137-AD24-0090BC61EA03,清远市,4418,24520182-A99A-411B-8EB5-7A6F36E3EBA3
13,9FE45196-EE13-0343-ABAC-009187610A25,那曲县,542401,D5B37B1F-98E7-40C4-A52A-73BF444F9CCC
14,533ACE26-F5B0-B746-A66C-00973BF30845,基本古,34604,CAECD925-1FD6-4144-B4E9-0C598B039EFA

In [3]:
'''
    根据ID获取地区对象
'''
def getLocById(Id):
    temp = df[df.ID==Id].index
    return df.iloc[temp].values

'''
    根据Code获取地区对象
'''
def getLocByCode(Code):
    temp = df[df.Code==Code].index
    return df.iloc[temp].values

'''
    是否有父节点
'''
def isHasParent(id):
    if id == "00000000-0000-0000-0000-000000000000":
        return False
    else:
        return True

In [24]:
'''
    根据ID获取地区全称
'''
def getLocFullNameById(Id,name=""): 
    loc = getLocById(Id)
    if name:
        name = "-" + name
    
    name = loc[0,1] + name
    if isHasParent(loc[0,3]):       
        name = getLocFullNameById(loc[0,3],name)
    return name

'''
    根据Code获取地区全称
'''
def getLocFullNameByCode(Code):     
    loc = getLocByCode(Code)
    return getLocFullNameById(loc[0,0])

'''
    根据逗号分隔的code批量获取地区全称
'''
def batchGetFullNameByCodes(Codes):
    codeList = Codes.split(',')
    locNameList = []
    for i in codeList:
        locNameList.append(getLocFullNameByCode(int(i)))
    return ",".join(locNameList)

In [5]:
dd=getLocFullNameById("8EFD71EF-8CCE-4684-96BC-492EDB18DAAC")
print(dd)

河北省

In [6]:
cc=getLocFullNameByCode(130110)
print(cc)

河北省-石家庄市-晋州市

In [26]:
codes = "620504"
result = batchGetFullNameByCodes(codes)
print(result)

甘肃省-天水市-秦安县

In [50]:
path2 = './data/广告测试数据.csv' #从 notebook 当前的位置读取 csv 文件

df2 = pd.read_csv(open(path2,'r',encoding='UTF-8'))   

#df.info()
df2.head(15)

   JobAdId      LocName
0        1  350111,4418
1        2  330601,3115

In [51]:
df2

   JobAdId      LocName
0        1  350111,4418
1        2  330601,3115

In [54]:
'''
    生成
'''
def mergeForLocName(df_temp):
    ll =[]
    for index, row in df_temp.iterrows():
        ll.append(batchGetFullNameByCodes(str(row.LocName)))
    ser = pd.Series(ll)
    df_temp["LocName"]=ser
    return df_temp

In [55]:
ret=mergeForLocName(df2)
ret.to_csv('temp.csv', index=False)
ret

   JobAdId              LocName
0        1  福建省-福州市-平潭县,广东省-清远市
1        2  浙江省-绍兴市-上虞区,上海市-青浦区