In [1]:
import numpy as np
import pandas as pd

In [2]:
path = './data/地区常量.csv' #从 notebook 当前的位置读取 csv 文件

df = pd.read_csv(open(path,'r',encoding='UTF-8'))   

#df.info()
df.head()

,ID,Name,Code,ParentId
0,1C6498FE-249B-1A43-B422-0005065014DD,昆士敦,23723,D8A2AC7B-94C2-4A44-A58B-0F7D922CF6E5
1,BEDE6E98-BB25-C34F-8072-0009C6AC9A30,莞岛郡,2251104,028AE13A-8339-CB4F-BCE2-DA178DC545FA
2,EFBBB2BD-D55A-AB4A-851D-000D351C830A,雅加达,22022,9AB0317A-F5FC-405B-8EE9-22D8D63512D7
3,F588A7F4-7F80-0542-BDAC-00125CC159F3,太白市,2250614,D9114555-C8E9-1041-A59B-F8C52D436D52
4,13C5D575-2DB6-4046-A152-002647D30E7F,河口瑶族自治县,532513,BED4857E-0FA1-423A-8647-95BDEBE17CBA

In [3]:
'''
    根据ID获取地区对象
'''
def getLocById(Id):
    temp = df[df.ID==Id].index
    return df.iloc[temp].values

'''
    根据Code获取地区对象
'''
def getLocByCode(Code):
    temp = df[df.Code==Code].index
    return df.iloc[temp].values

'''
    是否有父节点
'''
def isHasParent(id):
    if id == "00000000-0000-0000-0000-000000000000":
        return False
    else:
        return True

In [4]:
'''
    根据ID获取地区全称
'''
def getLocFullNameById(Id,name=""): 
    loc = getLocById(Id)
    if name:
        name = "-" + name
    
    name = loc[0,1] + name
    if isHasParent(loc[0,3]):       
        name = getLocFullNameById(loc[0,3],name)
    return name

'''
    根据Code获取地区全称
'''
def getLocFullNameByCode(Code):     
    loc = getLocByCode(Code)
    return getLocFullNameById(loc[0,0])

'''
    根据逗号分隔的code批量获取地区全称
'''
def batchGetFullNameByCodes(Codes):
    if Codes=='':return ''
    codeList = Codes.split(',')
    locNameList = []
    for i in codeList:
        locNameList.append(getLocFullNameByCode(int(i)))
    return ",".join(locNameList)

In [6]:
dd=getLocFullNameById("8EFD71EF-8CCE-4684-96BC-492EDB18DAAC")
print(dd)

cc=getLocFullNameByCode(130110)
print(cc)

河北省

In [25]:
codes = ""
result = batchGetFullNameByCodes(codes)
print(result)

In [7]:
path2 = './data/测试广告信息.csv' #从 notebook 当前的位置读取 csv 文件

df2 = pd.read_csv(open(path2,'r',encoding='UTF-8'))   #UTF-8

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 13 columns):
TenantId     147 non-null int64
JobAdId      147 non-null int64
JobId        147 non-null int64
ChannelId    147 non-null int64
JobAdName    147 non-null object
Category     147 non-null object
Kind         147 non-null object
HeadCount    147 non-null object
PostDate     147 non-null object
EndTime      147 non-null object
LocName      147 non-null object
Duty         146 non-null object
Require      146 non-null object
dtypes: int64(4), object(9)
memory usage: 15.0+ KB

In [8]:
'''
    将LocName列中ID转换成FullName
'''
def mergeForLocName(df_temp):
    ll =[]
    for index, row in df_temp.iterrows():
        ll.append(batchGetFullNameByCodes(str(row.LocName)))
    ser = pd.Series(ll)
    df_temp["LocName"]=ser
    return df_temp

In [9]:
ret = mergeForLocName(df2.fillna(''))
ret.to_csv('temp.csv', index=False)

In [10]:
resultpath = './temp.csv' #从 notebook 当前的位置读取 csv 文件

resultdf = pd.read_csv(open(resultpath,'r',encoding='UTF-8'))   #UTF-8  GB2312

resultdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 13 columns):
TenantId     147 non-null int64
JobAdId      147 non-null int64
JobId        147 non-null int64
ChannelId    147 non-null int64
JobAdName    147 non-null object
Category     147 non-null object
Kind         147 non-null object
HeadCount    147 non-null object
PostDate     147 non-null object
EndTime      147 non-null object
LocName      147 non-null object
Duty         146 non-null object
Require      146 non-null object
dtypes: int64(4), object(9)
memory usage: 15.0+ KB

In [11]:
resultdf.head()

,TenantId,JobAdId,JobId,ChannelId,JobAdName,Category,Kind,HeadCount,PostDate,EndTime,LocName,Duty,Require
0,100216,6009,5166,560000108,实验 1,社会招聘,实习,若干,2017/6/13 14:33:09,2222/2/2 0:00:00,安徽省,11,11
1,100216,6010,5165,560000108,职位1 2,社会招聘,全职,若干,2017/6/14 16:46:33,2222/2/2 0:00:00,"内蒙古,国外-澳大利亚-昆士兰",全的,全的
2,100216,6011,5182,560000108,发发发,校园招聘,兼职,2,2017/6/22 11:08:56,2222/2/2 0:00:00,北京市,333,222
3,100216,6012,5182,560000108,发发发,校园招聘,兼职,2,2017/6/22 11:11:28,2222/2/2 0:00:00,北京市,333,222
4,100216,6013,5182,560000108,发发发 置顶,社会招聘,兼职,2,2017/6/22 11:16:16,2222/2/2 0:00:00,北京市,333,222

In [12]:
 def getSQL(baseName,tablename,df):
    result = 'use '+ baseName + '\n'
    result += 'truncate table '+ tablename + '\n'
    file =",".join(df.columns)
    for index,row in df.iterrows():
        s = ''
        s += 'insert into ' + tablename + ' (' + file + ') values ('
        for i in range(df.columns.size): 
            rowstr = str(row[i])
            if rowstr == 'null':
                 rowText= rowstr           
            elif df.dtypes[i]=="int64":
                 rowText= rowstr
            else:
                if rowstr.find("'") > 0:
                    rowstr = rowstr.replace("'", "''")
                    rowText= "'"+ rowstr +"'"
                else:
                    rowText= "'"+ rowstr +"'"
            s += str(rowText) +','
        s = s[:-1] + ')'
        result += s + '\n'
    return result

In [13]:
result = getSQL('BeisenRecruitmentCommon','JobAdMini',resultdf.fillna(value='null'))
#print(result)
with open('测试插入广告数据.sql', 'w') as f:
    f.writelines(result)

In [15]:
path3 = './data/测试租户信息.csv' #从 notebook 当前的位置读取 csv 文件

df3 = pd.read_csv(open(path3,'r',encoding='UTF-8'))   #UTF-8

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
TenantId           5 non-null int64
TenantName         5 non-null object
ChannelId          5 non-null int64
PortalId           5 non-null int64
SiteDomain         4 non-null object
MicroSiteDomain    4 non-null object
dtypes: int64(3), object(3)
memory usage: 320.0+ bytes

In [16]:
result = getSQL('BeisenRecruitmentCommon','TenantInfoMini',df3.fillna(value='null'))
#print(result)
with open('测试插入租户数据.sql', 'w') as f:
    f.writelines(result)