In [1]:
import numpy as np
import pandas as pd

In [4]:
#构建索引
name = pd.Index(["Tom", "Bob", "Mary", "James"],name = "name")
#创建Series
user_age= pd.Series(name = "user_age_info",index = name,data = [18,20,21,36])

In [5]:
user_age

name
Tom      18
Bob      20
Mary     21
James    36
Name: user_age_info, dtype: int64

In [7]:
user_age[0]
# 获取前三个元素
user_age[:3]
# 获取年龄大于30的元素
user_age[user_age > 30]

name
James    36
Name: user_age_info, dtype: int64

In [8]:
index = pd.Index(data=["Tom", "Bob", "Mary", "James"], name="name")

data = {
    "age": [18, 30, 25, 40],
    "city": ["BeiJing", "ShangHai", "GuangZhou", "ShenZhen"]
}

user_info = pd.DataFrame(data=data, index=index)
user_info

       age       city
name
Tom     18    BeiJing
Bob     30   ShangHai
Mary    25  GuangZhou
James   40   ShenZhen

In [9]:
#如何访问行？
user_info.loc["Tom"]
user_info.iloc[0]
user_info.iloc[1:3]

#如何访问列
user_info.age
user_info["age"]
user_info[["city", "age"]]

#如何新增/编辑列
user_info["sex"] = "male" #存在即更新，无则创建（广播式）
user_info.pop("sex")    #删除某一列

            city  age
name
Tom      BeiJing   18
Bob     ShangHai   30
Mary   GuangZhou   25
James   ShenZhen   40