In [1]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plot

In [9]:
num=[i for i in range(10)]
df=pd.DataFrame(data = num,columns = ["num"])
df

   num
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [22]:
df["num2"]=df["num"]+1

In [23]:
df

   num  num2
0    0     1
1    1     2
2    2     3
3    3     4
4    4     5
5    5     6
6    6     7
7    7     8
8    8     9
9    9    10

In [24]:
df.iloc[3:5]

   num  num2
3    3     4
4    4     5

In [26]:
df[["num","num2"]]

   num  num2
0    0     1
1    1     2
2    2     3
3    3     4
4    4     5
5    5     6
6    6     7
7    7     8
8    8     9
9    9    10

In [28]:
df.ix[0:5,"num2"]

0    1
1    2
2    3
3    4
4    5
5    6
Name: num2, dtype: int64

In [29]:
df.T

      0  1  2  3  4  5  6  7  8   9
num   0  1  2  3  4  5  6  7  8   9
num2  1  2  3  4  5  6  7  8  9  10