In [4]:
import numpy as np
import pandas as pd
from numpy import random
from pandas import DataFrame, read_excel

In [105]:
path = r'./excel_SQL.xlsx' #从 notebook 当前的位置读取 csv 文件
dfx = pd.read_excel(path)
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
ChannelId    3 non-null int64
IsDBFiled    3 non-null int64
V5_ID        3 non-null int64
V3_ID        2 non-null float64
dtypes: float64(1), int64(3)
memory usage: 176.0 bytes

In [106]:
dfx

   ChannelId  IsDBFiled  V5_ID  V3_ID
0          1          1      1    1.0
1          2          2      2    NaN
2        501        501    501  501.0

In [160]:
 def getSQL(tablename,df):
    result = ''
    for index,row in df.iterrows():
        s = ''
        s += 'insert into ' + tablename + ' values ('
        for i in range(df.columns.size):
            rowText= row[i] if str(row[i]).strip() else '\'\''
            s += str(rowText)+','
        s = s[:-1] + ')'
        result += s + '\n'
    return result

In [161]:
result = getSQL('REL_V3V5mapping',dfx.fillna(value=''))
print(result)
with open('InsertData.sql', 'w') as f:
    f.writelines(result)

insert into REL_V3V5mapping values (1,1,1,1.0)
insert into REL_V3V5mapping values (2,2,2,'')
insert into REL_V3V5mapping values (501,501,501,501.0)

In [115]:
dfx.fillna(value='')

   ChannelId  IsDBFiled  V5_ID V3_ID
0          1          1      1     1
1          2          2      2
2        501        501    501   501